/*Shades of black*/
$blacgray-1:#efefee;
$blacgray-2:#d9d8d4;
$blacgray-3:#cecece;
$blacgray-4:#989fab;
$blacgray-5:#1a1a1a;
$blacgray-6:#333333;
$DarkBlack:#000000;
$grayborder: #464646;
$textgray: #c4c4c4;
$grey: #292929;
$grey-mid: #1d1d1d;
/*Shades of black End*/
$BlueTheme-1:#E9F0F9;
$BlueTheme-2:#D3E0F4;
$BlueTheme-3:#BED1EE;
$BlueTheme-4:#A8C1E9;
$BlueTheme-5:#92B2E3;
$BlueTheme-6:#7CA3DD;
$BlueTheme-7:#6693D8;
$BlueTheme-8:#5184D2;
$BlueTheme-9:#3B74CD;
$BlueTheme-10:#2565C7;
$BlueTheme-11:#2565C7;
$BlueTheme-12:#215BB3;
$BlueTheme-13:#1E519F;
$BlueTheme-14:#1A478B;
$BlueTheme-15:#163D77;
$BlueTheme-16:#133364;
$BlueTheme-17:#0F2850;
$BlueTheme-18:#0B1E3C;
$BlueTheme-20:#040A14;
/*Shades of Blue End*/


